<ons-page  id="aboutView">
      <ons-toolbar>
        <div class="left">
          <!-- Toolbar-button with different icons depending on the platform. -->
          <ons-toolbar-button component="button/menu">
            <ons-icon icon="angle-double-left" onclick="AboutViewController.navigateToBack();"></ons-icon>
          </ons-toolbar-button>
        </div>
        <div id="idAboutView_Title" class="center">...</div>
        <div class="right">
        </div>
      </ons-toolbar>

      <p id="idAboutAppNameNAdVersion">WhoPaid vn.n.n</p>
      <p id="idAboutProvider">Provided by mfontanadev</p>
      <p id="idAboutDeveloper">mfontanadev@gmail.com</p>
</ons-page>
