<ons-page>
    <!--Bottom toolbar--> 

    <!--Body-->
    <div style="text-align: center; margin-top: 100px">

	    <p>
	      <ons-input id="ctrlUsername" placeholder="Username" modifier="underbar" tabindex="1"></ons-input>
	    </p>
  
	    <p>
	      <ons-input
	        id="ctrlPassword"
	        placeholder="Password"
	        type="password"
	        modifier="underbar"
	        tabindex="2"
	      >
	      </ons-input>
	    </p>

	    <p>
	      <ons-button onclick="login();">Login</ons-button>
	    </p>

	    <br>
    
	    <p>
	      <div align="center">
	        <ons-button onclick="navigateToRegisterNewUser();" modifier="quiet">register</ons-button>
	        <ons-button onclick="forgotPass();" modifier="quiet">forgot pass?</ons-button>
	      </div>
	    </p>

    </div>

  </ons-page>