<ons-page>
    <div style="text-align: center; margin-top: 100px">
    <p>
      <ons-input id="ctrlUsernameReg" placeholder="Username" modifier="underbar" tabindex="1"></ons-input>
    </p>
  
    <p>
      <ons-input
        id="ctrlPasswordReg"
        placeholder="Password"
        type="password"
        modifier="underbar"
        tabindex="2"
      >
      </ons-input>
    </p>

    <p>
      <ons-button onclick="registerNewUser();">Submit</ons-button>
    </p>

    <br>
    
    <p>
      <div align="center">
        <ons-button onclick="cancelRegistration();" modifier="quiet">Cancel</ons-button>
      </div>
    </p>

    </div>

  </ons-page>