<ons-page  id="spentListView">
  <ons-toolbar>
    <div class="left">
      <!-- Toolbar-button with different icons depending on the platform. -->
      <ons-toolbar-button component="button/menu" onclick="SpentListViewController.navigateToBack();">Back</ons-toolbar-button>
    </div>
    <div class="center">Spent list</div>
    <div class="right">
      <!-- Toolbar-button with different icons depending on the platform. -->
      </div>
  </ons-toolbar>

  <!-- Spent list -->
  <ons-list id="idSpentList">
  </ons-list>

</ons-page>