<ons-page  id="spentListView">
  <!-- Spent widget -->
  <div id="idSpentidget"></div>

  <!-- Spent list -->
  <ons-list id="idSpentList">
  </ons-list>

  <ons-alert-dialog id="spentListView-delete" modifier="rowfooter">
    <div id="spentListView-delete-title" class="alert-dialog-title">...</div>
    <div id="spentListView-delete-content" class="alert-dialog-content">...</div>
    <div class="alert-dialog-footer">
      <ons-alert-dialog-button id="spentListView-delete-button-cancel" onclick="{}">Cancel</ons-alert-dialog-button>
      <ons-alert-dialog-button id="spentListView-delete-button-ok" onclick="{}">OK</ons-alert-dialog-button>
    </div>
  </ons-alert-dialog>

</ons-page>