<ons-page id="testView">
  <ons-toolbar>
    <div class="left">
      <!-- Toolbar-button with different icons depending on the platform. -->
      <ons-toolbar-button component="button/menu" onclick="TestViewController.navigateToBack();">Back</ons-toolbar-button>
    </div>
    <div class="center">TestView</div>
    <div class="right">
    </div>
  </ons-toolbar>

    <div style="text-align: center; margin-top: 50px">
    <p>
      <ons-button onclick="TestViewController.testClearLogArea();">Clear log area</ons-button>
      <ons-button onclick="TestViewController.gotoLogin();">Login</ons-button>
    </p>

    <p>
      File CRUD
      <br>
      <ons-button width="40px" style="background-color: blue" onclick="TestViewController.testCreateFile();">Cre</ons-button>
      <ons-button width="40px" style="background-color: blue" onclick="TestViewController.testReadFile();">Rea</ons-button>
      <ons-button width="40px" style="background-color: blue" onclick="TestViewController.testAppendFile();">Ins</ons-button>
      <ons-button width="40px" style="background-color: blue" onclick="TestViewController.testUpdateFile();">Upd</ons-button>
      <ons-button width="40px" style="background-color: blue" onclick="TestViewController.testDeleteFile();">Del</ons-button>
    </p>

    <p>
      DBmanager CRUD
      <br>
      <ons-button width="40px" style="background-color: red" onclick="TestViewController.testEmptyTable();">Empty</ons-button>
      <ons-button width="40px" style="background-color: red" onclick="TestViewController.testReadTable();">Rea</ons-button>
      <ons-button width="40px" style="background-color: red" onclick="TestViewController.testUpdateTable('002');">Upd</ons-button>
      <ons-button width="40px" style="background-color: red" onclick="TestViewController.testInsertTable();">Ins</ons-button>
      <ons-button width="40px" style="background-color: red" onclick="TestViewController.testDeleteTable();">Del</ons-button>
      <ons-button width="40px" style="background-color: red" onclick="TestViewController.testPopulateTable(0, 5);">Pop 5</ons-button>
      <ons-button width="40px" style="background-color: red" onclick="TestViewController.testPopulateTable(0, 200);">Pop 200</ons-button>
    </p>

    <p>
      Category test
      <br>
      <ons-button width="60px" style="background-color: green" onclick="TestViewController.loadCategories();">Load cat</ons-button>
      <ons-button width="60px" style="background-color: green" onclick="TestViewController.deleteCategory('02');">Del cat</ons-button>
      <ons-button width="60px" style="background-color: green" onclick="TestViewController.bechParse(200);">Bench</ons-button>
      <ons-button width="60px" style="background-color: green" onclick="TestViewController.deleteUser();">Del usr</ons-button>
      <ons-button width="60px" style="background-color: green" onclick="TestViewController.loadUsers();">Load usr</ons-button>
    </p>


    <p>
      Delete tables
      <br>
      <ons-button width="60px" style="background-color: red" onclick="TestViewController.testDeleteTableByName('Category');">D Category </ons-button>
      <ons-button width="60px" style="background-color: red" onclick="TestViewController.testDeleteTableByName('User');">D User</ons-button>
      <ons-button width="60px" style="background-color: red" onclick="TestViewController.testDeleteTableByName('Spent');">D Spent</ons-button>
      <ons-button width="60px" style="background-color: red" onclick="TestViewController.testDeleteTableByName('SubCategory');">D SubCat</ons-button>
    </p>

    <p>
      <textarea id="logArea" class="textarea" rows="10" cols="40" width="100%"></textarea>
    </p>
    </div>

  </ons-page>